.elements__card {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__heading {
  display: flex;
  background-color: white;
  color: black;
  border-radius: 0px 0px 10px 10px;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background: transparent url(../images/like_inactive.svg) center;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 1;
  position: relative;
  transition: opacity 0.4s ease;
}

.card__like-button:hover {
  z-index: 1;
  cursor: pointer;
  opacity: 0.4;
}
